@tailwind base;
@tailwind components;
@tailwind utilities;

table,
tr,
th,
td {
  text-align: left;
  /* border-collapse: collapse; */
  border-radius: 400px;
}

tbody tr {
  border: 1px solid rgb(201, 201, 201);
}

/* thead tr {
  border: none;
} */

td,
th {
  padding: 1rem 1rem;
}

input[type="text"],
input[type="number"] {
  padding: 1rem;
  border: 1px solid rgb(229, 229, 229);
  border-radius: 1rem;
}
